.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.form-group {
}

#appdateInput {
  position: absolute;
}

.btn {
}

#appyearinput {
  position: absolute;
  top: 70px;
  left: 28px;
}

#letterWriterDepartmentInput {
  position: absolute;
  top: 220px;
  left: 350px;
}

.studentProfessionLabel {
  position: absolute;
  top: 180px;
  left: 670px;
}

#studentprofessioninput {
  position: absolute;
  top: 75px;
  left: 350px;
}

.letterwriterDepartmentInput {
  position: absolute;
  top: 350px;
  left: 28px;
  width: 300px;
  height: 45px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #000000;
}

.formselectinput {
  position: absolute;
  top: 200px;
  left: 28px;
  border: 1px solid #000000;
}

.studentproffesioninput {
  position: absolute;
  top: 200px;
  left: 350px;
  border: 1px solid #000000;
}

#logoutIcon {
  max-width: 25px;
}

